<form class="container d-flex flex-column align-items-center mb-5">
  <mat-form-field class="example-full-width">
    <mat-label>Titre</mat-label>
    <input matInput name="titre" required />
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Description</mat-label>
    <input matInput name="description" required />
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Responsable</mat-label>
    <input matInput name="responsable" required />
  </mat-form-field>

  <button mat-button type="submit" class="btn btn-primary">Ajouter</button>
</form>
